*{
    padding: 0;
}

body{
    background-color: rgb(25, 4, 43);
    color: white;
    font-family: 'Poppins', sans-serif;
}

.left{
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
    text-align: left;
}


h1 {
    border: 2px solid #000;
    text-align: center;
    background-color: white;
    color: black;
}

p.\31 {
    letter-spacing: 1.5px;
}

.intro {
    letter-spacing: 1.5px;
}

h2 {
    text-align: center;
    text-decoration: underline;
    font-size: x-large;
}

p.\32 {
    text-align: center;
}



nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 78px;
    background-color: rgb(31, 7, 51);
}

.exit {
    letter-spacing: 2px;
    padding: 10px;
    margin: 10px;
    word-spacing: 5px;
}

p {
    text-align: center;
}

footer {
    text-align: right;
}



