body{
    padding: 10px auto;
    background-color: rgb(25, 4, 43);
    color: white;
    font-family: 'Poppins', sans-serif;
}

#main{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    font-size: larger;
    font-weight: 700;
}


a{
    text-decoration: none;
}


nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 78px;
    background-color: rgb(31, 7, 51);
}

h1 {
    font-size: 2.5rem;
    text-align: center;
    color: white;
    text-decoration: none;
}


h2 {
    text-decoration: underline;
}

h3.intro {
    font-size: x-large;
    font-weight: 900;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.intro{
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 20px;
}
